<h1>Prizes</h1>
<div class="card-columns px-4 pb-5 text-center">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Grand Prize</h3>
      <h6 class="card-subtitle mb-4 text-muted">Northrop Grumman</h6>
      <p class="text-muted">The team with the best hack overall will win a $500 cash prize, provided by Northrup Grumman.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Third Place</h3>
      <h6 class="card-subtitle mb-4 text-muted">MesaHacks</h6>
      <p class="text-muted">The team with the third best hack overall will win a $100 cash prize.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Second Place</h3>
      <h6 class="card-subtitle mb-4 text-muted">MesaHacks</h6>
      <p class="text-muted">The team with the second best hack overall will win a $200 cash prize.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Best Team</h3>
      <h6 class="card-subtitle mb-4 text-muted">MesaHacks</h6>
      <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
