<h1>Suggested APIs</h1>
<div class="card-columns px-4 pb-5">
  <div class="card text-center px-2">
    <div class="card-body">
      <h2 class="card-title">IBM Watson</h2>
      <p class="text-left text-muted mb-0">IBM Watson API offers developers the opportunity to build smarter applications, such as intelligent chatbots, and smart health apps that use past data to make predictions about various user health metrics.</p>
      <a href="https://www.ibm.com/watson/index.html" target="blank" class="btn secondary-bg">Link</a>
    </div>
  </div>
  <div class="card text-center px-2">
    <div class="card-body">
      <h2 class="card-title">Twilio</h2>
      <p class="text-left text-muted">Twilio allows easy sending and receiving SMS and MMS messages along with voice calls, VOIP and more.<br>
                                      Use promo code MesaHack2018 for $25 of starting credit!
      </p>
      <a href="https://www.twilio.com/" target="blank" class="btn secondary-bg">Link</a>
    </div>
  </div>
  <div class="card text-center px-2">
    <div class="card-body">
      <h2 class="card-title">HumanAPI</h2>
      <p class="text-left text-muted">Build the future of data-driven health with HumanAPI. Integrate and analyze the real-time health data your users connect through the world's largest health network.</p>
      <a href="https://www.humanapi.co/developers/" target="blank" class="btn secondary-bg">Link</a>
    </div>
  </div>
  <div class="card text-center px-2">
    <div class="card-body">
      <h2 class="card-title">USDA Food Composition Databases API</h2>
      <p class="text-left text-muted">The USDA Food Composition Databases API allows developers to incorporate nutrient data into their websites and applications. The API provides Food Reports that list the nutrient values for a specified food (e.g. cheddar cheese, potatoes) and Nutrient Reports that return lists of foods and their nutrient values for a given set of nutrients (e.g. protein, iron).</p>
      <a href="https://ndb.nal.usda.gov/ndb/doc/index" target="blank" class="btn secondary-bg">Link</a>
    </div>
  </div>
  <div class="card text-center px-2">
    <div class="card-body">
      <h2 class="card-title">Slack</h2>
      <p class="text-left text-muted">Customize functionality for your own workspace or build a beautiful bot to share with the world. Provide your ingenious integrations with a suitably configurable container.</p>
      <a href="https://api.slack.com/" target="blank" class="btn secondary-bg">Link</a>
    </div>
  </div>

</div>
