<!-- <nav class="navbar navbar-expand-lg navbar-dark primary-bg">
    <a class="navbar-brand" href="#">
      <strong>MesaHacks</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive='active current'>
          <a [routerLink]="['home']" class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive='active current'>
          <a [routerLink]="['map']" class="nav-link" href="#">Map</a>
        </li>
        <li class="nav-item" routerLinkActive='active current'>
          <a [routerLink]="['prizes']" class="nav-link" href="#">Prizes</a>
        </li>
        <li class="nav-item" routerLinkActive='active current'>
          <a [routerLink]="['schedule']" class="nav-link" href="#">Schedule</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <nav>
    <a class="navbar-brand" href="#" style="height: 175px;">
      <img src="./assets/logo.svg" class="img-fluid">
    </a>
    <span style="padding: 20px;">
      <strong>COUNTDOWN</strong>
    </span>
    <div id="countdown" class="mt-2 mb-3">

    </div>
    <span style="padding: 20px;">
      <strong>GENERAL</strong>
    </span>
      <ul>
        <li>
          <a [routerLink]="['home']" routerLinkActive='router-link-active' href="#">Live Site Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['map']" routerLinkActive='router-link-active' href="#">Map</a>
        </li>
        <li>
          <a [routerLink]="['prizes']" routerLinkActive='router-link-active' href="#">Prizes</a>
        </li>
        <li>
          <a [routerLink]="['schedule']" routerLinkActive='router-link-active' href="#">Schedule</a>
        </li>
      </ul>
  </nav>
