@import '../../../styles.scss';

  nav {
    color: white;
    font-weight: normal;
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    transition: left 0.3s linear;
  }

  
  @media (max-width: 760px) {

    .hide{
      left: -275px;
    }
    
    .visible{
      left: 0;
    }

    .display-btn {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 15px;
      cursor: pointer;
      margin: 20px;
      position: fixed;
      top: 10px;
      z-index: 1;
    }

  
    .display-btn span{
      height: 5px;
      background-color: #444;
      display: block;
      margin-bottom: 5px;
    }

    nav .display-btn{
      margin-left: 200px;
      position: relative;
    }
  }


  nav > p {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 20px;
    margin: 0;
  }

  nav > a > img {
    padding: 20px;
  }

  nav #countdown {
    background-color: darken($secondary-color, 8%);
  }

  nav #countdown .font-sm {
    font-size: 0.75rem;
  }

  nav #countdown .font-lg {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  nav #upcoming {
    background-color: darken($secondary-color, 8%);
  }

  .pl-20 {
    padding-left: 20px
  }


.schedule-item {
  padding: 0 20px;
}


nav a{
  color: white;
  display: block;
  padding: 10px 20px 10px;
  width: 100%;
}

nav li {
  list-style-type: none;
}

nav ul {
  padding: 0;
}

nav li:hover, li:active {
  background-color: darken($secondary-color, 8%);
}

.router-link-active {
  border-left: 8px solid $quinary-color;
  background-color: darken($secondary-color, 8%);
}
